:root {
    /* Gece Modu Renkleri (Varsayılan) */
    --bg-body: #000000;
    --bg-calc: #000000;
    --color-text: #ffffff;
    --key-bg: #333333; /* Rakamlar */
    --key-text: #ffffff;
    --key-grey: #a5a5a5; /* AC, Silme, Yüzde */
    --key-grey-text: #000000;
    --key-orange: #ff9f0a; /* Operatörler */
}

/* Gündüz Modu Renkleri */
[data-theme="light"] {
    --bg-body: #f2f2f7;
    --bg-calc: #ffffff;
    --color-text: #000000;
    --key-bg: #e5e5e5;
    --key-text: #000000;
    --key-grey: #d1d1d6;
    --key-grey-text: #000000;
    --key-orange: #ff9f0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
    transition: background-color 0.3s ease;
}

.calculator {
    width: 330px;
    background-color: var(--bg-calc);
    padding: 20px;
    border-radius: 40px;
    transition: 0.3s;
}

/* Gece/Gündüz Butonu Tasarımı */
.theme-toggle {
    text-align: right;
    margin-bottom: 5px;
}

#theme-btn {
    background: var(--key-bg);
    border: none;
    color: var(--color-text);
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
}

/* Ekran (Input) Kısmı */
.calculator-input {
    width: 100%;
    height: 120px;
    border: none;
    background: transparent;
    color: var(--color-text);
    font-size: 4.5rem;
    text-align: right;
    padding: 10px;
    outline: none;
    font-weight: 300;
}

/* Tuş Takımı Izgarası */
.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* Genel Buton Yapısı */
.key {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: none;
    background-color: var(--key-bg);
    color: var(--key-text);
    font-size: 1.8rem;
    cursor: pointer;
    transition: filter 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:active {
    filter: brightness(1.5); /* Basıldığında rengi açılır */
}

/* Özel Renkli Butonlar */
.key.grey {
    background-color: var(--key-grey);
    color: var(--key-grey-text);
}

.key.orange {
    background-color: var(--key-orange);
    color: #ffffff;
}

/* Sıfır (0) Butonu Genişliği */
.key.double {
    grid-column: span 2;
    width: 156px;
    border-radius: 40px;
    justify-content: flex-start;
    padding-left: 28px;
}

/* Input Placeholder Rengi */
::placeholder {
    color: var(--key-grey);
    opacity: 0.5;
}
